---
import "../styles/global.css";
const pageTitle = "おはよう";
const identity ={
	name: "Masafumi",
	age: 27,
	job: "Web Engineer",
	hobby: ["Programming", "Reading", "Music"],
}

const skill = {
	frontend: ["HTML", "CSS", "JavaScript"],
	backend: ["Node.js", "Express", "MongoDB"],
	tools: ["Git", "VSCode", "Figma"],
}

const color = "green";
---

<div id="container">
	<main>
    <h1>{pageTitle}</h1>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>
		<p>私について</p>
		<ul>
			<li>私にの名前は{identity.name}です</li>
			<li>職業は{identity.job}</li>
			<li>趣味は</li>
			{
				identity.hobby.map((hobby) =>  (
					<ul>
						<li>{hobby}</li>
					</ul>
				))
			}
		</ul>
	</main>
</div>

<style define:vars={{color}}>
	h1 {
		color: var(--color);
		font-size: 3rem;
	}
</style>

